:root {
  background: #e3edfb;

  --color-icon: #0b3a67;

  --image-width: 8rem;
  --card-padding: 1rem;

  --font-heading: 1.75rem;

  /* Når du synes, du er færdig, så ændr værdien herunder til '1' for at se dit resultat i browseren */
  --hide-overlay: 1;
}

/* Begynd her... */
.inthedark {
  display: grid;
  grid-template-columns: 1fr auto;

  img {
    grid-template-columns: subgrid;
    border-radius: 100%;
    max-width: 250px;
  }

  .info {
    place-content: start;
  }

  .svg {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column: 2;
    grid-row: 2 / 2;
  }
}
