:root {
  background: #e3edfb;

  --color-icon: #0b3a67;

  --image-width: 8rem;
  --card-padding: 1rem;

  --font-heading: 1.75rem;

  /* Når du synes, du er færdig, så ændr værdien herunder til '1' for at se dit resultat i browseren */
  --hide-overlay: 1;
}

/* Begynd her... */
.inthedark {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: auto auto;
}

img {
  border-radius: 100%;
  max-width: 200px;
}

.info {
  display: grid;
  grid-template-columns: subgrid;
  grid-template-rows: 1fr 1fr;
}

.svg {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
