/* @import url("https://fonts.cdnfonts.com/css/gill-sans-2");
@import url("https://fonts.cdnfonts.com/css/abril-fatface"); */
:root {
  --color-xtralight: oklch(63.343% 0.00007 271.152 / 0.71);
  --color-light: oklch(56.241% 0.00006 271.152);
  --color-medium: oklch(41.283% 0.00005 271.152);
  --color-dark: oklch(29.716% 0.00003 271.152);
}

article {
  font-family: Arial, Helvetica, sans-serif;
  max-inline-size: 400px;
  background: #fff;
  margin-block: 3rem;
  box-shadow:
    0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
  border-radius: 1rem;
  /* border: 1px solid #dadceb; */
}

.picture {
  display: grid;
  /* padding: 0.5rem; */

  > * {
    grid-area: 1 / 1;
  }

  .back {
    place-self: start;
    margin: 1rem;
    z-index: 1;
    color: var(--color-light);
    background-color: white;
    border-radius: 100px;
    padding: 0.5rem;
    cursor: pointer;
  }

  .image-count {
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    letter-spacing: 2px;
    line-height: 1;
    place-self: end start;
    background: var(--color-light);
    color: #fff;
    margin: 1rem;
    cursor: pointer;
  }

  img {
    border: 1px solid #dadceb;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
  }
}

.card-content {
  display: grid;
  gap: 1rem;
  padding: 0 2rem 1rem;
}

.title {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 2rem;
  color: var(--color-dark);
  margin-block-start: var(--flow-space, 1rlh);
}

.location {
  color: #c8c9cb;
  font-size: 0.95em;
}

.description p {
  text-align: left;
  line-height: 1.5;
  flex-wrap: pretty balance;
  color: var(--color-medium);
}

.amenities-details {
  display: flex;
  gap: 1rem;
  border-top: 1px solid var(--color-xtralight);
  border-bottom: 1px solid var(--color-xtralight);
  padding: 10px 0;

  li {
    flex: 1;
    display: grid;
    gap: 0.5rem;
    place-items: center;
    padding: 0.25rem;
    background: transparent;
    color: var(--color-light);
  }
}

footer {
  padding: 1rem 2rem;
  box-shadow: 0 -2px 4px -1px #0002;

  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  button {
    padding: 0.75rem 1rem;
    border: none;
    line-height: 1;
    border-radius: 8px;
    font-weight: 500;
    font: inherit;
    background: #3c55cc;
    color: #f0f2ff;
    cursor: pointer;
  }

  .price {
    font-weight: 600;

    span {
      color: var(--color-dark);
      font-size: 0.75em;
      font-weight: 400;
    }
  }
}

@layer reset {
  * {
    margin: 0;
    box-sizing: border-box;
  }

  body {
    min-height: 100svh;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    place-content: center;
    background: #f5f6fa;
  }

  img,
  svg {
    display: block;
    max-inline-size: 100%;
    height: auto;
  }

  ul {
    list-style: none;
    padding: 0;
  }

  .sr-only {
    border: 0 !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    /* 1 */
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;
    /* 2 */
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    white-space: nowrap !important;
  }
}
